@charset "utf-8";

body{
   background: #f3f3f3;
}

.auth{
   border-radius: 3px 3px;
   max-width: 390px;
   margin: auto;
}
.auth .auth-header{
   padding: 20px 15px 0 15px;
}
.auth .auth-header h4 {
   display: inline-block;
   margin: 0 0;
   padding: 0 0;
}
.auth .auth-body .block {
   padding: 0 15px 15px 15px;
}

.auth.auth-form {
   background: #fff;
   border: 2px solid transparent;
}
.auth.auth-form.auth-error{
   border-color: #f5c2c7;
}
.auth.auth-form.auth-warning{
   border-color: #ffecb5;
}
